out
dist
build
node_modules
.next
.expo
.expo-shared

/dist/*
.local
.output.js
/node_modules/**

**/*.svg
**/*.sh

/public/*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock